<nav class="navbar">
    <div class="navbar-container">
        <a class="navbar-brand" href="#">Online-Manufacturing-System</a>
        <ul class="navbar-menu">
            <li><a routerLink="/edit-emp">Home</a></li>
            <li><a routerLink="/home">Buy Product</a></li>   
            <li><a routerLink="/about">About Us</a></li>
            <li><a routerLink="/contact">Contact Details</a></li>
            <li><a routerLink="/login">Welcome admin login</a></li>
            
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>